
        table,td{

             border:  5px solid;
            border-collapse: collapse;
            border-color: rgb(11, 0, 2);

        
            height: 1;
        } 
        #table{
            
             border:  5px solid;
            border-collapse: collapse;
            border-color: rgb(11, 0, 2);

        
            height: 50px;
        }

        
        #form1{
            background-color: rgb(35, 145, 35);

            color: rgb(194, 219, 194);
        }
        #form2{
            background-color: rgb(162, 162, 234);
        }
            #ribit{
                background-size: 2px;
                color: rgb(168, 226, 168);
                background-color: green;
            }

            form{

                background-color: green;
            }
    
