p{
background-color: antiquewhite;
color: blue;
}

h1{
    background-color: lightpink;
    color:black


}
 .note{   
            border: 2px solid black;
            border-collapse: collapse;
            background-color: blanchedalmond;
        }
        .ok{
            border: 2px solid red;
            background-color: blanchedalmond;
            border-collapse: collapse;
        }
        #klop{
            border: 2px solid blue;
            background-color: lightblue;
            border-collapse: collapse;
        }
        #rupt{
            border: 2px solid green;
            background-color: lightgreen;
            border-collapse: collapse;
        }
        body{
            background-color: rgb(253, 253, 253);
        }

        